@model Wheather.Data.Model.Kullanici
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
@using (Html.BeginForm("Ekle", "Kullanici", FormMethod.Post, new { enctype = "multipart/form-data", id = "KullaniciForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="row">
        <div class="col-lg-12">
            <!-- Circle Buttons -->
            <div class="card shadow">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Kullanıcı Ekle</h6>
                </div>
                <div class="card-body">
                    <form role="form">
                        <div class="form-group col-md-12">
                            <label for="text">Kullanıcı Adı Soyadı</label>
                            @Html.TextBoxFor(x => x.adsoyad, new { @class = "form-control border-input", id = "kullaniciadsoyad", placeholder = "Kullanıcı Adı ve Soyadı", required = "required" })
                        </div>
                        <br />
                        <div class="form-group col-md-12">
                            <label for="text">Kullanıcı Adı</label>
                            @Html.TextBoxFor(x => x.kullanici_adi, new { @class = "form-control border-input", id = "kullaniciAdi", placeholder = "Kullanıcı Adı", required = "required" })
                        </div>
                        <br />
                        <div class="form-group col-md-12">
                            <label for="text">Kullanıcı E-mail</label>
                            @Html.TextBoxFor(x => x.email, new { @class = "form-control border-input", id = "kullaniciemail", placeholder = "Kullanıcı Email", type = "email", required = "required" })
                        </div>
                        <br />
                        <div class="form-group col-md-12">
                            <label for="text">Kullanıcı Şifre</label>
                            @Html.TextBoxFor(x => x.sifre, new { @class = "form-control border-input", id = "kullanicisifre", placeholder = "Kullanıcı Şifre", type = "password", required = "required" })
                        </div>
                        <br />
                        <div class="form-group col-md-12">
                            <label for="text">Kullanıcı Resmi</label>
                            <input type="file" name="resim" accept="image/*" class="form-control" />
                            <h6 style="color:red">Dosya boyutu 2 MB'yi geçmemelidir.</h6>
                        </div>

                        <div class="form-group col-md-12">
                            <label for="rol">Rol</label>
                            @Html.DropDownListFor(model => model.yetki_id, new SelectList(ViewBag.Yetki, "id", "yetki_adi"), ("Seçiniz"), new { @class = "form-control border-input", id = "yetki_id", required = "required" })
                        </div>

                        
                        <br />
                        <button type="submit" class="btn btn-primary" id="KullaniciEkle">Kaydet</button>

                    </form>
                </div>
            </div>
            
        </div>
        
    </div>
}
</div>

<script>
    $(document).ready(function () {
        $(document).on("click", "#KullaniciEkle", function () {
            $('#KullaniciForm').ajaxForm({
                success: function (response) {
                    if (response.Success) {
                        bootbox.alert(response.Message, function () {
                            location.href = "/Kullanici/Index";
                        });

                    }
                    else {
                        bootbox.alert(response.Message, function () {
                            // geridöndüğünde bir şey yapılması isteniyorsa buraya yazılır
                        });
                    }
                }
            })
        })
    })
</script>

