@model PagedList.IPagedList<Wheather.Data.Model.Uygulama>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Uygulama Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Adı</th>
                            <th>Tarih</th>
                            <th>Durum</th>
                            <th>Kullanıcı</th>
                            <th>Link</th>
                            <th>İşlem</th>
                        </tr>
                    </thead>
                    @*<tfoot>
                            <tr>
                                <th>#</th>
                                <th>Adı soyadı</th>
                                <th>Email</th>
                                <th>Kullanıcı Adı</th>
                                <th>Şifre</th>
                                <th>Yetki</th>
                                <th>Tarih</th>
                                <th>Durum</th>
                                <th>İşlem</th>
                            </tr>
                        </tfoot>*@
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><span class="label label-success">@item.id</span></td>
                                <td>@item.adi</td>
                                <td>@item.tarih</td>
                                <td>
                                    @if (item.aktif == true)
                                    {
                                        <b class="label label-success">Aktif</b>
                                    }
                                    else
                                    {
                                        <b class="label label-danger">Pasif</b>
                                    }
                                </td>
                                <td>@item.Kullanici.adsoyad</td>
                                <td>
                                    @if (item.url.Length > 20)
                                {
                                    @(item.url.Substring(0, 20) + "...")
                                }
                                else
                                {
                                    @item.url
                                }
                            </td>

                            <td>

                                <a href="@Url.Action("Duzenle","Uygulama", new {ID=item.id})" class="btn btn-success">Düzenle</a>
                                <a href="@Url.Action("Detay","Uygulama", new {ID=item.id})" class="btn btn-primary">Detay</a>

                                <a href="#" data-id="@item.id" id="UygulamaSil" class="btn btn-danger">Sil</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

